@import "variables";

.bio {
  display: flex;
  column-gap: 50px;
  margin: 0 0 20px 0;
  &__photo{
    max-width: 200px;
    height: 200px;
    position: relative;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #fff;

  }
  &__avatar-button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 25px;
    border-radius: 50%;
    color: #F8F8F7;
    background-color: #1b5a8d;
    transition: all 0.3s ease 0s;
    border: 1px solid #F8F8F7;
    z-index: 2;
    p{
      margin-top: -2px;
    }
    &:hover{
      background-color: #F8F8F7;
      color: #1b5a8d;
    }
  }

  &__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__description {
    flex: 0 1 auto;
    padding: 30px 0 0 0;
  }
}

.description {
  font-size: 16px;
  &__name {
    font-weight: 700;
    font-size: 20px;
    color: #1b5a8d;
    margin: 0 0 10px 0;
  }
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__info div {
    padding: 0 0 5px 0;
    border-bottom: 1px solid rgb(201, 199, 199);
  }
  &__input {
    background-color: #ffffff;
    color: #1D1D1D;
    padding: 5px 10px;
  }
  &__categories {
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(103, 103, 112);
  }
  &__button{
    margin-top: 10px;
    padding: 5px;
    background-color: $blue;
    color: #F8F8F7;
  }
}
