.user {
  display: flex;
  align-items: center;
  padding: 15px 0;
  column-gap: 20px;
  border-bottom: 1px solid #447094;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
  }
  &__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  &__info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
  &__status{
    font-size: 14px;
    color: #8C8C8C;
  }
}
.friends{
  padding: 10px 30px;
  overflow: auto;
}