@import "variables";
.messages{
  display: flex;
  height: 100%;
  &__list{
    flex: 1 1 20%;
  }
  &__conversation{
    flex: 1 1 80%;
    background-color: $greyblue;
  }

  &__profile {
    display: flex;
    align-items: center;
    padding: 10px;
    column-gap: 15px;
    border-bottom: 1px solid #447094;
    transition: all 0.3s ease 0s;
    &:hover{
      background-color: $blue;
      color: #F8F8F7;
    }
  }

  &__profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__profile-name {
  }
}

.conversation{
  display: flex;
  flex-direction: column;
  &__header{
    display: flex;
    align-items: center;
    height: 60px;
    column-gap: 10px;
    padding: 10px 30px;
    justify-content: flex-end;
    width: 100%;
    background-color: rgba(75, 117, 153, 0.74);
  }
  &__content{
    flex: 1 0 auto;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow: auto;
  }
  &__message_my{
    padding: 10px 20px;
    align-self: flex-end;
    background-color: #ffffff;
    border-radius: 10px 10px 0 10px;
  }
  &__message{
    padding: 10px 20px;
    color: #F8F8F7;
    align-self: flex-start;
    background-color: rgba(75, 117, 153, 0.74);
    border-radius: 0 10px 10px 10px;
  }
  &__form{
    display: flex;
  }
  &__input{
    flex: 1 1 auto;
    padding: 10px;
  }
  &__send{
    background-color: $blue;
    color: #F8F8F7;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover{
      background-color: #F8F8F7;
      color: $blue;
      border: 1px solid $blue;
    }
  }
}